VITE_CHAIN_ID=mainnet
VITE_GATEWAY_BASE_URL="https://pokt-archival.rpc.grove.city/v1/440ae1fc"
VITE_TX_FEE=10000
VITE_MAX_TRANSACTION_LIST_COUNT=5000
VITE_MIN_TRANSACTION_LIST_COUNT=200
VITE_BLOCK_EXPLORER_BASE_URL=https://poktscan.com
VITE_BUY_POKT_BASE_URL=https://forum.pokt.network/t/secondary-markets-for-pokt/629
VITE_POKT_USD_VALUE=0.28
VITE_HTTP_TIMEOUT=0
VITE_HTTP_HEADERS='{"Content-Type": "application/json", "Blockchain-Subdomain": "mainnet"}'
VITE_USE_LEGACY_CODEC=true
